*{
    box-sizing: border-box;
}
body{
    background-color:white;
    padding: 0px 48px;
    font-family: "Plus Jakarta Sans";
}
.header{
    padding-top: 24px;
    gap:8px;
    height: 96px;
}
.navBar{
    background-color: #afe6e6;
    width: 100%;
    filter: blur(96);
    height: 100%;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: 1.5px;
    padding: 24px 32px;
}
.navLeft{
    gap: 32px;
    display: flex;
    justify-content: space-around;
}
.navLeft .NL{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
}
.center{
    font-weight: 700px;
    font-size: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 42px;
}
.container{
    padding: 48px 0px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-container{
    padding: 48px 48px;
}
.page-1{
    padding: 96px 96px;
    gap: 52px;
    width: 1344px;
    height: 1036px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading{
    height: 120px;
    width: 1344px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    
}
.page-1-img{
    display: flex;
    height: 672px;
    justify-content: center;
    align-items: center;
}
.page-2{
    width: 100%;
}
.row-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.width{
    width: 100%;
}