body{
    background-color:white;
    padding: 0px 48px;
    font-family: "Plus Jakarta Sans";
}
.header{
    padding-top: 24px;
    gap:8px;
    height: 96px;
    box-sizing:border-box;
}
.navBar{
    background-color: #afe6e6;
    width: 100%;
    filter: blur(96);
    height: 100%;
    box-sizing:border-box;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: 1.5px;
    padding: 24px 32px;
}
.navLeft{
    gap: 32px;
    display: flex;
    justify-content: space-around;
    box-sizing:border-box;
}
.navLeft .NL{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    box-sizing:border-box;
}
.center{
    font-weight: 700px;
    font-size: 42px;
    box-sizing:border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 42px;
}
.container{
    padding: 48px 0px;
    box-sizing:border-box;
}